/* css styles */
/* Centered content */
.centered {
    text-align: center;
    justify-content: center;
}

.btn-primary {
  padding: 12px 18px;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

